-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."FrameworkType" AS ENUM ('native', 'uniapp');

-- CreateEnum
CREATE TYPE "public"."GitCredentialType" AS ENUM ('ssh', 'https');

-- CreateEnum
CREATE TYPE "public"."GlobalStatus" AS ENUM ('active', 'disabled');

-- CreateEnum
CREATE TYPE "public"."ImPlatform" AS ENUM ('wecom', 'dingtalk', 'feishu');

-- CreateEnum
CREATE TYPE "public"."ProjectRole" AS ENUM ('maintainer', 'developer', 'guest');

-- CreateEnum
CREATE TYPE "public"."TaskStatus" AS ENUM ('pending', 'running', 'success', 'failed', 'canceled');

-- CreateTable
CREATE TABLE "public"."audit_logs" (
    "id" UUID NOT NULL,
    "action" VARCHAR(100) NOT NULL,
    "target_id" VARCHAR(255),
    "changes" JSON,
    "ip_address" VARCHAR(50),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "user_id" UUID NOT NULL,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."build_tasks" (
    "id" BIGSERIAL NOT NULL,
    "status" "public"."TaskStatus" NOT NULL DEFAULT 'pending',
    "robot_id" INTEGER,
    "version" VARCHAR(50),
    "branch" VARCHAR(100) NOT NULL DEFAULT 'main',
    "desc" TEXT,
    "commit_hash" VARCHAR(40),
    "log_path" TEXT,
    "artifact_path" TEXT,
    "qrcode_path" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "project_id" UUID NOT NULL,
    "trigger_user_id" UUID NOT NULL,

    CONSTRAINT "build_tasks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."git_credentials" (
    "id" UUID NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "type" "public"."GitCredentialType" NOT NULL,
    "username" VARCHAR(100),
    "secret" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" UUID NOT NULL,

    CONSTRAINT "git_credentials_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."im_robots" (
    "id" UUID NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "platform" "public"."ImPlatform" NOT NULL,
    "webhook_url" TEXT NOT NULL,
    "secret_token" VARCHAR(255),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" UUID NOT NULL,

    CONSTRAINT "im_robots_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."project_members" (
    "id" UUID NOT NULL,
    "role" "public"."ProjectRole" NOT NULL DEFAULT 'developer',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "project_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,

    CONSTRAINT "project_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."projects" (
    "id" UUID NOT NULL,
    "name" VARCHAR(100) NOT NULL,
    "app_id" VARCHAR(50),
    "repo_url" VARCHAR(255) NOT NULL,
    "framework" "public"."FrameworkType" NOT NULL DEFAULT 'native',
    "build_command" VARCHAR(255),
    "dist_path" VARCHAR(255),
    "retention_count" INTEGER NOT NULL DEFAULT 10,
    "im_robot_ids" JSONB,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "git_credential_id" UUID NOT NULL,
    "private_key" TEXT,

    CONSTRAINT "projects_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."users" (
    "id" UUID NOT NULL,
    "username" VARCHAR(100) NOT NULL,
    "password_hash" VARCHAR(255) NOT NULL,
    "is_super_admin" BOOLEAN NOT NULL DEFAULT false,
    "status" "public"."GlobalStatus" NOT NULL DEFAULT 'active',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "project_members_project_id_user_id_key" ON "public"."project_members"("project_id" ASC, "user_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "public"."users"("username" ASC);

-- AddForeignKey
ALTER TABLE "public"."audit_logs" ADD CONSTRAINT "audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."build_tasks" ADD CONSTRAINT "build_tasks_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."build_tasks" ADD CONSTRAINT "build_tasks_trigger_user_id_fkey" FOREIGN KEY ("trigger_user_id") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."git_credentials" ADD CONSTRAINT "git_credentials_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."im_robots" ADD CONSTRAINT "im_robots_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."project_members" ADD CONSTRAINT "project_members_project_id_fkey" FOREIGN KEY ("project_id") REFERENCES "public"."projects"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."project_members" ADD CONSTRAINT "project_members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."projects" ADD CONSTRAINT "projects_git_credential_id_fkey" FOREIGN KEY ("git_credential_id") REFERENCES "public"."git_credentials"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

