.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  height: 42px;
  border-radius: 12px;
  padding: 10px;
  &:hover {
    background-color: var(--ant-color-primary-bg-hover);
  }
}
